.docs-code .highlighted-code {
  display: flex;
  color: #303d42;
  tab-size: 2;
}
.highlighted-code > code {
  display: block;
  padding-right: 24px;
}
.code-gutter {
  flex-shrink: 0;
  min-width: 40px;
  padding: 0 14px 0 10px;
  text-align: right;
  color: #8a9582;
  user-select: none;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #8951a0;
}
.hljs-string,
.hljs-regexp {
  color: #39714e;
}
.hljs-comment,
.hljs-quote {
  color: #7c8477;
  font-style: italic;
}
.hljs-title,
.hljs-title.function_,
.hljs-built_in {
  color: #276a9a;
}
.hljs-number,
.hljs-symbol {
  color: #a25b30;
}
.hljs-attr,
.hljs-property,
.hljs-variable {
  color: #8d5c2b;
}
.hljs-params,
.hljs-subst {
  color: #303d42;
}
.hljs-meta {
  color: #687b8c;
}
